<% include ../partials/header %>

  <div class="container">
    <div class="row">
      <h1 class="text-center">Edit <%= campground.name %></h1>
      <section class="form-block">
        <form id="edit-campground-form" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="input-name">Name</label>
            <input id="input-name" class="form-control" type="text" name="name" value="<%= campground.name %>" required>
          </div>
          <div class="form-group">
            <label for="input-location">Location</label>
            <input id="input-location" class="form-control" type="text" name="location" value="<%= campground.location %>" required>
          </div>
          <div class="form-group">
            <label for="input-imageLocal">Change image (optional - leave to keep previously uploaded)</label>
            <input id="input-imageLocal" class="image-group" type="file" name="imageLocal" accept="image/*">
          </div>
          <!-- <div class="form-group">
            <label for="input-imageExternal">Image url</label>
            <input id="input-imageExternal" class="form-control image-group" type="text" name="imageExternal" value="<%= campground.imageExternal %>">
          </div> -->
          <div class="form-group">
            <label for="input-cost">Cost</label>
            <input id="input-cost" class="form-control" type="number" name="cost" value="<%= campground.cost %>" min="0.00" step="0.01" required>
          </div>
          <div class="form-group">
            <label for="input-description">Description</label>
            <textarea class="form-control" name="description" form="edit-campground-form" rows="4" cols="70" required><%= campground.description %></textarea>
          </div>
          <button class="btn btn-success btn-lg btn-block">Submit</button>
          <hr>
          <a href="/campgrounds">Back to campgrounds</a>
        </form>
      </section>
    </div>
  </div>

<% include ../partials/footer %>
