<% include ../partials/header %>
    <div class="jumbotron">
      <div class="container">
        <h1><span class="glyphicon glyphicon-tent"></span> People Friendly Policing</h1>
        <p>The Emergency Service Portal</p>
        <p>
          <a class="btn btn-success btn-lg" href="/campgrounds/new">Add a new one</a>
        </p>
      </div>
    </div>
    <div class="container">
      <div id="campgrounds-gallery" class="row text-center">
      <% if (typeof searchMessage !== 'undefined') { %>
        <div class="col-md-12">
          <h4><%= searchMessage %></h4>
        </div>
      <% } %>
      <% campgrounds.forEach((campground, index) => { %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail shadow">
            <img src="<%= campground.image.url %>" alt="<%= campground.name %>">
            <div class="caption">
              <h4><%= campground.name %></h4>
            </div>
            <p>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-success">More info</a>
            </p>
          </div>
        </div>
      <% }); %>
      </div>
    </div>
  </main>
<% include ../partials/footer %>
